h1 {
    text-align: center;
}

.delete-btn {
  color: red;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 8px;
}

page-container {
  display: flex;
  justify-content: center;
}

.left-column {
  width: 50%;
  text-align: center;
}

.right-column {
  width: 50%;
}

.charts-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.charts-container canvas {
  max-width: 400px;
  max-height: 300px;
}